_TerrainAutoUpgrade/
_TerrainAutoUpgrade.meta
3DForge/
3DForge.meta
3Dynamite/
3Dynamite.meta
AutoASMDEF0/
AutoASMDEF0.meta
Crest/
Crest.meta
FreeFlyCamera/
FreeFlyCamera.meta
Invector-3rdPersonController_LITE/
Invector-3rdPersonController_LITE.meta
NatureManufacture Assets/
NatureManufacture Assets.meta
PluginMaster/
PluginMaster.meta
Plugins/
Plugins.meta
Procedural Worlds/
Procedural Worlds.meta